.footer {
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: #cbd5e1;
  padding: 80px 20px 30px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 220px;
}

.footer-logo {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffffff;
  position: relative;
}

.footer-col h3::after {
  content: "";
  width: 40px;
  height: 3px;
  background: #2563eb;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.footer-col p,
.footer-col li {
  font-size: 14px;
  line-height: 1.8;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li{
margin-bottom:10px;
cursor:pointer;
transition:all 0.3s ease;
}

.footer-col ul li:hover {
  transform: translateX(5px);
  color: #2563eb;
}

.footer-col a {
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-col a:hover {
  color: #38bdf8;
}

.icon {
  margin-right: 8px;
  color: #38bdf8;
}

/* Bottom */
.footer-bottom {
  margin-top: 50px;
  text-align: center;
  border-top: 1px solid #334155;
  padding-top: 20px;
  font-size: 14px;
  color: #94a3b8;
}

.address{
display:flex;
align-items:flex-start;
gap:8px;
}

.contact-box p{
display:flex;
align-items:center;
gap:8px;
}


/* WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 45px;
  right: 25px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  z-index: 1000;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: row;
    gap: 30px;
  }
}